<form>
  <div id="about-time-calendar">
    <div>
      <h3 id="about-time-calendar-hdr" text-align="center" class="about-time-calendar-hdr">
        {{now.date}}
      </h3>
    </div>
    <div class="about-time-calendar-container">
      {{#if running}}
      <div class="about-time-clock-running">
        {{else}}
        <div class="about-time-clock-stopped">
          {{/if}}
          <p id="about-time-calendar-time" title="Start/Stop psuedoclock.">{{now.time}}</p>
        </div>
        {{#if isGM}}
        <div class="about-time-calendar-btn-container">
          <i id="about-time-calendar-btn-min" class="fas fa-play about-time-fa-play" 
            title="{{ localize "about-time.display.advance1min" }}"></i>
          <i id="about-time-calendar-btn-tenMin" class="fas fa-step-forward about-time-fa-step-forward"
            title="{{ localize "about-time.display.advance10min" }}"></i>
          <i id="about-time-calendar-btn-long" class="fas fa-fast-forward about-time-fa-fast-forward"
            title="{{ localize "about-time.display.advance1h" }}"></i>
          <i id="about-time-calendar-btn-day" class="fas fa-sun about-time-fa-sun" 
            title="{{ localize "about-time.display.advance7am" }}"></i>
          <i id="about-time-calendar-btn-night" class="fas fa-moon about-time-fa-moon" 
            title="{{ localize "about-time.display.advanceMidnight" }}"></i>
          <i id="about-time-calendar-btn-long-rest" class="fas fa-fast-forward about-time-long-rest"
            title="{{ localize "about-time.display.advance8h" }}"></i>

        </div>
        {{/if}}
      </div>
    </div>
  </div>
</form>